@import './globals.module.scss';

.addInstrumentButton {
    background-color: $background;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0.5rem 2rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        stroke: lightgrey;
        width: 18px;
        height: 18px;
        margin-left: .6rem;
    }

    &:hover {
        transition: 0.2s;
        background-color: $backgroundDark;

        & svg {
            transition: 0.2s;
            stroke: $accent
        }
    }
}

// .trashIcon {
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//     margin: 0;
//     opacity: 0.3;
//     transition: 0.2s;

//     &:hover {
//         opacity: 0.8;
//         transition: 0.2s;
//         border: none;
//         background-color: transparent;
//         box-shadow: none;
//     }

//     // padding: 0;

//     & svg {
//         stroke: $disabled;
//         width: 24px;
//         height: 24px;
//     }
// }

.partDetailsContainer {
    margin: 1rem;
    padding: 1rem;
}