@import './globals.module.scss';

.notesContainer {
    width: 600px;
    height: 600px;
    border: 1px solid lightblue;

    display: flex;
    // position: relative;
}

.halfNoteContainer {
    width: 600px;
}

.wholeNoteContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px
}

.halfNote {
    background-color: slategrey;
    transform: translateX(-13px);
    border-bottom: 1px solid;
}

.wholeNote {
    background-color: ghostwhite;
    margin-top: 0px;
    height: 60px !important;
    border-bottom: 1px solid;
}

#n2,
#n4,
#n7,
#n9,
#n11 {
    margin-left: -20px !important;
}

.allNotes {
    width: 20px;
    height: 40px;
    border-right: 1px solid;
    border-radius: 3px;

    &:first-child {
        border-left: 1px solid;
    }

    &:last-child {
        border: none;
        border-bottom: 1px solid;
        border-right: 1px solid;
    }
}

.filled {
    background-color: $accent;
}