@import './globals.module.scss';

.sequencerContainer {
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    margin-left: 10rem;
}