@import './globals.module.scss';

.sequencerGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'steps controls';
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 900px) {
    .sequencerGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "steps" "controls";
    }
        .sequencerGridStepContainer {
            overflow-x: auto;
        }
}

.sequencerGridStepContainer {
    grid-area: steps;
    text-align: center;
}

.sequencerGridControlsContainer {
    grid-area: controls;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    border-left: 1px solid lightGrey;
    padding-left: 2rem;

    & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-size: 0.75rem;
    }
}

.sequencerContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.sequencerControls {
    text-align: left;
    line-height: 2rem;
}